*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    height:100vh;
    background: bisque;
    align-items: center;
    justify-content: center;
}

.grid-main-container{
    background-color: rgb(73, 67, 67);
    padding:20px;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

input{
    width:50%;
    height:3em;
    border-radius:15px;
    text-align: center;
    transition: 0.5s scale;
}

input:hover{
    scale:1.1;
}

.grid-container{
    background-color: red;
    display:flex;
    height:500px;
    align-items: center;
    justify-content: center;
    width:500px;
    flex-wrap: wrap;
    flex-direction: column;
}

.grid-item{
    flex:auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(167, 154, 154, 0.308);
}


.color-picker{
    padding:10px;
    width:100%;
    background:rgb(56, 45, 45);
    display:flex;
    margin-bottom: 20px;
    justify-content: space-around;
    border-radius: 10px;
}

.color-picker button{
    height: 50px;
    width:50px;
    transition: 0.3s scale, 0.1s box-shadow, 0.1s border;
    cursor:pointer;
    border: none;
    border-radius: 10px;
}

.color-picker button:hover{
    scale: 1.1;
}

.color-picker button:active, img:active{
    box-shadow: 0 0 10px white inset;
    border: 5px solid black;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
}

.black{
    background-color: black;
}

.input-and-options-container{
    display: flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom:20px;
}

.eraser, .delete, .rainbow, .shadow{
    width: 30px;
    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 10px;
    transition: 0.3s scale, 0.1s box-shadow, 0.1s border;
}

.eraser:hover, .delete:hover, .rainbow:hover ,.shadow:hover{
    scale: 1.2;
    cursor:pointer;
}

.grid-item:hover{
    border: 1px solid grey;
}

.grid-container:hover{
    cursor:cell;
}

.rainbow{
    background: linear-gradient(red, pink, yellow, green, blue);
    border-radius:5px;
}

.attribution{
    position: absolute;
    background:beige;
    width:100%;
    height:fit-content;
    padding:10px;
    text-align: center;
    font-size:large;
    height:auto;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(80, 80, 8);
    bottom:0px;
}


a{
    text-decoration: none;
    color:rgb(80, 80, 8);
}

@media (max-width: 500px) {
    .grid-container{
        width:300px;
        height:300px;
        overflow: hidden;
    }
    
}

@media (max-width: 350px){
    .grid-container{
        width:250px;
        height:250px;
        overflow: hidden;
    }

    .grid-main-container{
        padding: 10px;
    }

    .input-and-options-container{
        flex-wrap: wrap;
    }
    .color-picker button{
        width:20px;
        height:20px;
    }
    .color-picker{
        flex-wrap: wrap;
    }
}


